.peopleTrendingBox::-webkit-scrollbar {
    width: 10px;
    height: 8px;
}

.peopleTrendingBox::-webkit-scrollbar-track {
    background: black;
    border-radius: 10px;
}

.peopleTrendingBox::-webkit-scrollbar-thumb {
    height: 2px;
    background: #888;
    border-radius: 10px;
}

.peopleTrendingBox::-webkit-scrollbar-thumb:hover {
    background: #555;
    cursor: grabbing;
}

.sideBar {
    animation: moveToRight 0.8s ease-out;
}

@keyframes moveToRight {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}