.animationBox::before {
    content: '';
    display: block;
    width: 70px;
    height: 160%;
    background-color: rgba(0, 0, 0, 0.3);
    transform: rotate(20deg);
    animation: moveToRight 0.8s linear infinite;
    position: absolute;
}

@keyframes moveToRight {
    0% {
        transform: translateX(-550%) rotate(20deg);
    }
    100% {
        transform: translateX(550%) rotate(20deg);
    }
}